# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# editor folders in whole repository
**/.idea

# python caches
**/__pycache__

# personal data for RL projects
/_smallPersonalProjects/rl_parsing/data/
/_smallPersonalProjects/rl_parsing/*.txt
/_smallPersonalProjects/get_from_temple/*.txt

# output files for assignments
ComputationalGeometry/2025/Assignment 1/lines_visual*
ComputationalGeometry/2025/Assignment 2/logs/
ComputationalGeometry/2025/Assignment 2/result*


