# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# editor folders in whole repository
**/.idea

# python caches
**/__pycache__

# personal data for RL parsing project
/_smallPersonalProjects/rl_parsing/data/
/_smallPersonalProjects/rl_parsing/*.txt
