[submodule "Mathematical Optimization/Resources"]
	path = Mathematical Optimization/Resources
	url = git@github.com:DM872/Resources.git
    branch = main
[submodule "MasterThesis"]
	path = MasterThesis
	url = https://github.com/KihiraLove/MasterThesis.git
